---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🧱 จ่ายตัง Leo ยัง?" description="Leo จะโดนเกียนหรือไม่ ❓">
  <main class="py-16 flex flex-col items-center gap-16">
    <h1 class="text-5xl sm:text-6xl font-extrabold">🧱 จ่ายตัง Leo ยัง?</h1>

    <p>อัพเดทล่าสุด 13 พ.ย. 66</p>

    <p class="text-2xl font-medium">
      งวดที่ 1 (สิ้นเดือนตุลา):
      <span class="text-red-500">ยัง</span>
    </p>

    <img src="/gean.webp" alt="โดนเกียน" />

    <footer class="flex gap-1 sm:gap-4 items-end text-lg sm:text-3xl">
      <img src="/leo-need.svg" class="h-12" alt="Leo/need" />
      <p class="line-through">more bullets</p>
      <p>money มาก ๆ จ่ายด้วย</p>
    </footer>
    <div class="law">
      <p>หากลูกจ้างทำงานมาแล้ว 1 - 3 ปี นายจ้างต้องจ่ายค่าชดเชยเท่ากับค่าจ้างการทำงาน 90 วัน ในอัตราสุดท้าย</p>
      <p>ค่าเสียหายนี้เกิดในกรณีหากนายจ้าง "ไล่ออก" ทันทีโดยไม่บอกล่วงหน้า ถือว่า นายจ้างทำผิดสัญญาจ้างแรงงาน ต้องจ่ายค่าเสียหายจากการไม่บอกกล่าวล่วงหน้าด้วย ตามมาตรา 17/1</p>
      <a href="https://www.ratchakitcha.soc.go.th/DATA/PDF/2562/A/043/T_0021.PDF">GO READ DA LAW</a>
    </div>
  </main>
</Layout>
