---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Have Brikl paid Leo yet?" description="Leo จะโดนเกียนหรือไม่ ❓">
  <main class="p-16 prose prose-2xl mx-auto">
    <h1 class="text-center">brikl จ่ายตัง Leo ยัง?</h1>

    <p class="text-3xl">
      <b>Current Status</b>: <span class="text-red-500">
        No hope in getting the money.
      </span> Father Maarten and his Brikl already escaped from Thailand with all
      the money.
    </p>

    <p class="text-2xl">
      <b>Summary</b>: It's not about the money that Brikl obligated to pay me
      but the action of not showing any responsibilities (No compensation for
      any employee and even not paying office rent), escape from the country
      that YOU DID CRIME is very <b>Unprofessional</b>. Yes, Maarten Boone
      commited crime in Thailand that will get him in Jail! (But he escaped)
    </p>

    <h2 class="text-center">Hall of Fame</h2>

    <div class="scrolling-emojis">
      <div>💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷 🍷</div>
    </div>

    <section class="flex flex-col gap-2 items-center">
      <img src="./ceo_golden_frame.webp" class="max-w-xs" />
    </section>

    <h2>Timeline of sueing the company</h2>

    <p class="text-2xl mt-8">
      <span>สิ้นเดือนกันยายน:&nbsp;</span>
      <span class="text-red-500">
        Layoff ปิดสาขา แล้วบิดค่าชดเชยพนักงานทุกคน
        (ไม่จ่ายแม้กระทั่งค่าเช่าออฟฟิศ)
      </span>
    </p>

    <p class="text-2xl -translate-y-8">
      <span>End of September:&nbsp;</span>
      <span class="text-red-500">
        Layoff everyone, close Bangkok Office and refuse to pay any employee
        compensation (they even don't pay office rent)
      </span>
    </p>

    <img src="/gean.webp" class="mx-auto" alt="โดนเกียน" />

    <p class="text-2xl">
      <span>พฤศจิกายน:&nbsp;</span>
      <span>
        ส่งคำร้องไปที่กรมสวัสดิการและคุ้มครองแรงงาน
        มีการส่งหนังสือเรียกทั้งสองฝ่าย แต่บริษัทไม่มา
        (แม่งหนีออกนอกประเทศไปนานแล้ว)
      </span>
    </p>

    <p class="text-2xl -translate-y-8">
      <span>November:&nbsp;</span>
      <span>
        File complaint to Department of Labour Protection and Welfare but Brikl
        never show up (they are no longer in Thailand)
      </span>
    </p>

    <p class="text-3xl font-bold">
      <span>มกราคม (January):&nbsp;</span>
      <span class="text-green-500">
        คำสั่งพนักงานตรวจแรงงาน สั่งให้บริษัทจ่าย (Labour staff order the
        company to pay)
      </span>

      <img
        src="honamiparty.webp"
        class="w-24 h-24 mx-auto"
        alt="Honami Party"
      />
    </p>

    <p class="text-2xl">
      <span>มีนาคม:&nbsp;</span>
      <span>
        บริษัท <span class="text-red-500">
          ไม่ปฏิบัติตามคำสั่งพนักงานตรวจแรงงาน
        </span> จึงยื่นฟ้องให้ปฏิบัติตามคำสั่งฯ ที่ศาลแรงงานกลาง
      </span>
    </p>

    <p class="text-2xl -translate-y-8">
      <span>March:&nbsp;</span>
      <span>
        Company <span class="text-red-500">did not comply with the order</span> so
        I filed a lawsuit to enforce the order
      </span>
    </p>

    <p class="text-2xl">
      <span>
        และพนักงานตรวจแรงงาน
        <span class="font-bold text-red-500">ดำเนินคดีอาญา</span>
        ต่อกรรมการบริษัท (<a
          href="https://www.linkedin.com/in/maarten-boone"
          target="_blank"
          rel="noreferrer">นายมาร์เทน เอเมียล แอล บูน</a
        >):&nbsp;
      </span>
      <span>กำลังดำเนินการ?</span>
    </p>

    <p class="text-2xl -translate-y-8">
      <span>
        The CEO of Brikl, <a
          href="https://www.linkedin.com/in/maarten-boone"
          target="_blank"
          rel="noreferrer">Maarten Boone</a
        >
        <b>commited a crime</b>, and Labour Staff is going to prosecute
        him:&nbsp;
      </span>
      <span>In Progress?</span>
    </p>

    <blockquote>
      <p>
        พระราชบัญญัติคุ้มครองแรงงาน มาตรา ๑๕๑ วรรคสอง
        ผู้ใดไม่ปฏิบัติตามคำสั่งของพนักงานตรวจแรงงานที่สั่งตามมาตรา ๑๒๔
        ต้องระวางโทษ<span class="underline">จำคุกไม่เกินหนึ่งปี</span>
        หรือ<span class="underline">ปรับไม่เกินสองหมื่นบาท</span> หรือ<span
          class="underline">ทั้งจำทั้งปรับ</span
        >
      </p>
    </blockquote>

    <p class="text-3xl font-bold">
      <span>พฤษภาคม:&nbsp;</span>
      <span>
        ศาลแรงงานกลางพิพากษาให้โจทก์<span class="text-green-500">ชนะคดี</span> (พิพากษาตามคำสั่งพนักงานตรวจแรงงาน)
      </span>
    </p>

    <p class="text-2xl -translate-y-8">
      <span>May:&nbsp;</span>
      <span>
        The company lose the lawsuit (They NEVER show up) and is now required to
        pay me. But as I said, they already gather all money and left the
        country.
      </span>
    </p>

    <p class="text-3xl font-bold">
      <span>มิถุนายน:&nbsp;</span>
      <span>
        ส่งหมายให้กรมบังคับคดีดำเนินการยึดทรัพย์
        แต่การสืบทรัพย์เป็นหน้าที่ของโจทก์ทั้งหมด ซึ่งอีเหี้ยมาร์เทน เอเมียล แอล
        บูน แม่งหอบเงินหนีออกนอกประเทศไปหมดแล้ว บิดหมดทุกคน บิดแม้กระทั่ง CP
        (ทรูดิจิทัลพาร์ค)
      </span>
    </p>

    <section class="text-md sm:text-3xl text-center">
      <img src="/leo-need.svg" class="h-12 inline" alt="Leo/need" />
      {" "}
      <span>money มาก ๆ จ่ายด้วย</span>
    </section>
  </main>
</Layout>

<style lang="postcss">
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scrolling-emojis {
    overflow: hidden;
    height: 1.5em;
    @apply w-full;
  }

  .scrolling-emojis div {
    animation: scroll 5s linear infinite;
  }
</style>
