---
import Layout from "../layouts/Layout.astro";
---

<Layout title="🧱 จ่ายตัง Leo ยัง?" description="Leo จะโดนเกียนหรือไม่ ❓">
  <main class="py-16 flex flex-col items-center gap-16">
    <h1 class="text-4xl sm:text-6xl font-extrabold">brikl จ่ายตัง Leo ยัง?</h1>

    <p>อัพเดทล่าสุด 14 พ.ย. 66</p>

    <p class="text-2xl font-medium">
      งวดที่ 1 (สิ้นเดือนตุลา):
      <span class="text-red-500">ยัง</span>
    </p>

    <img src="/gean.webp" alt="โดนเกียน" />

    <footer class="text-md sm:text-3xl">
      <img src="/leo-need.svg" class="h-12 inline" alt="Leo/need" />
      {" "}
      <span class="line-through">more bullets</span>
      {" "}
      <span>money มาก ๆ จ่ายด้วย</span>
    </footer>
  </main>
</Layout>
