---
import Layout from "../layouts/Layout.astro";
---

<Layout title="brikl จ่ายตัง Leo ยัง?" description="Leo จะโดนเกียนหรือไม่ ❓">
  <main class="py-16 flex flex-col items-center gap-16">
    <h1 class="text-4xl sm:text-6xl font-extrabold">brikl จ่ายตัง Leo ยัง?</h1>

    <p class="text-2xl font-medium flex items-center mx-4">
      <span>ค่าชดเชยเลิกจ้างที่ควรจ่ายตั้งแต่สิ้นเดือนกันยายน:&nbsp;</span>
      <span class="text-red-500">ผิดนัด</span>
    </p>

    <img src="/gean.webp" alt="โดนเกียน" />

    <p class="text-3xl font-bold flex items-center mx-4">
      <span>คำสั่งพนักงานตรวจแรงงาน (ออกเมื่อมกราคม):&nbsp;</span>
      <span class="text-green-500">สั่งจ่ายแล้ว</span>
      <img src="honamiparty.webp" class="w-24 h-24" alt="Honami Party" />
    </p>

    <p class="text-2xl font-medium flex items-center mx-4">
      <span>บริษัทต้องนำเงินมาวางภายในกุมภาพันธ์:</span>
      <span>???</span>
    </p>

    <section class="text-md sm:text-3xl">
      <img src="/leo-need.svg" class="h-12 inline" alt="Leo/need" />
      {" "}
      <span class="line-through">more bullets</span>
      {" "}
      <span>money มาก ๆ จ่ายด้วย</span>
    </section>

    <h2 class="font-bold text-4xl">Hall of Fame</h2>

    <div class="scrolling-emojis">
      <p>💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷💛🇨🇷 🍷</p>
    </div>

    <section class="flex flex-col gap-2 items-center">
      <img src="./golden_frame.webp" class="max-w-xs" />
      <p>Not brikl's CEO เดี๋ยวโดนฟ้อง</p>
    </section>
  </main>
</Layout>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scrolling-emojis {
    overflow: hidden;
    height: 1.5em;
  }

  .scrolling-emojis p {
    animation: scroll 5s linear infinite;
  }
</style>
