---
import Layout from "../layouts/Layout.astro";
---

<Layout title="brikl р╕Ир╣Ир╕▓р╕вр╕Хр╕▒р╕З Leo р╕вр╕▒р╕З?" description="Leo р╕Ир╕░р╣Вр╕Фр╕Щр╣Ар╕Бр╕╡р╕вр╕Щр╕лр╕гр╕╖р╕нр╣Др╕бр╣И тЭУ">
  <main class="p-16 prose prose-2xl mx-auto">
    <h1 class="text-center">brikl р╕Ир╣Ир╕▓р╕вр╕Хр╕▒р╕З Leo р╕вр╕▒р╕З?</h1>

    <p class="text-2xl mt-8">
      <span>р╕кр╕┤р╣Йр╕Щр╣Ар╕Фр╕╖р╕нр╕Щр╕Бр╕▒р╕Щр╕вр╕▓р╕вр╕Щ:&nbsp;</span>
      <span class="text-red-500">Layoff р╕Ыр╕┤р╕Фр╕кр╕▓р╕Вр╕▓ р╣Бр╕ер╣Йр╕зр╕Ър╕┤р╕Фр╕Др╣Ир╕▓р╕Кр╕Фр╣Ар╕Кр╕в (р╕Ьр╕┤р╕Фр╕Щр╕▒р╕Ф)</span>
    </p>

    <img src="/gean.webp" class="mx-auto" alt="р╣Вр╕Фр╕Щр╣Ар╕Бр╕╡р╕вр╕Щ" />

    <p class="text-2xl">
      <span>р╕Юр╕др╕ир╕Ир╕┤р╕Бр╕▓р╕вр╕Щ:&nbsp;</span>
      <span>р╕кр╣Ир╕Зр╕Др╕│р╕гр╣Йр╕нр╕Зр╣Др╕Ыр╕Чр╕╡р╣Ир╕Бр╕гр╕бр╕кр╕зр╕▒р╕кр╕Фр╕┤р╕Бр╕▓р╕гр╣Бр╕ер╕░р╕Др╕╕р╣Йр╕бр╕Др╕гр╕нр╕Зр╣Бр╕гр╕Зр╕Зр╕▓р╕Щ</span>
    </p>

    <p class="text-3xl font-bold">
      <span>р╕бр╕Бр╕гр╕▓р╕Др╕б:&nbsp;</span>
      <span class="text-green-500"
        >р╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щр╕Хр╕гр╕зр╕Ир╣Бр╕гр╕Зр╕Зр╕▓р╕Щ р╕кр╕▒р╣Ир╕Зр╣Гр╕лр╣Йр╕Ър╕гр╕┤р╕йр╕▒р╕Чр╕Ир╣Ир╕▓р╕в</span
      >

      <img
        src="honamiparty.webp"
        class="w-24 h-24 mx-auto"
        alt="Honami Party"
      />
    </p>

    <p class="text-2xl">
      <span>р╕бр╕╡р╕Щр╕▓р╕Др╕б:&nbsp;</span>
      <span>
        р╕Ър╕гр╕┤р╕йр╕▒р╕Ч <span class="text-red-500">
          р╣Др╕бр╣Ир╕Ыр╕Пр╕┤р╕Ър╕▒р╕Хр╕┤р╕Хр╕▓р╕бр╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щр╕Хр╕гр╕зр╕Ир╣Бр╕гр╕Зр╕Зр╕▓р╕Щ
        </span> р╕Ир╕╢р╕Зр╕вр╕╖р╣Ир╕Щр╕Яр╣Йр╕нр╕Зр╣Гр╕лр╣Йр╕Ыр╕Пр╕┤р╕Ър╕▒р╕Хр╕┤р╕Хр╕▓р╕бр╕Др╕│р╕кр╕▒р╣Ир╕Зр╕п р╕Чр╕╡р╣Ир╕ир╕▓р╕ер╣Бр╕гр╕Зр╕Зр╕▓р╕Щр╕Бр╕ер╕▓р╕З
      </span>
    </p>

    <p class="text-2xl">
      <span>
        р╣Бр╕ер╕░р╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щр╕Хр╕гр╕зр╕Ир╣Бр╕гр╕Зр╕Зр╕▓р╕Щ
        <span class="font-bold text-red-500">р╕Фр╕│р╣Ар╕Щр╕┤р╕Щр╕Др╕Фр╕╡р╕нр╕▓р╕Нр╕▓</span>
        р╕Хр╣Ир╕нр╕Бр╕гр╕гр╕бр╕Бр╕▓р╕гр╕Ър╕гр╕┤р╕йр╕▒р╕Ч (<a
          href="https://www.linkedin.com/in/maarten-boone"
          target="_blank"
          rel="noreferrer">р╕Щр╕▓р╕вр╕бр╕▓р╕гр╣Мр╣Ар╕Чр╕Щ р╣Ар╕нр╣Ар╕бр╕╡р╕вр╕е р╣Бр╕нр╕е р╕Ър╕╣р╕Щ</a
        >):&nbsp;
      </span>
      <span>р╕Бр╕│р╕ер╕▒р╕Зр╕Фр╕│р╣Ар╕Щр╕┤р╕Щр╕Бр╕▓р╕г?</span>
    </p>

    <blockquote>
      <p>
        р╕Юр╕гр╕░р╕гр╕▓р╕Кр╕Ър╕▒р╕Нр╕Нр╕▒р╕Хр╕┤р╕Др╕╕р╣Йр╕бр╕Др╕гр╕нр╕Зр╣Бр╕гр╕Зр╕Зр╕▓р╕Щ р╕бр╕▓р╕Хр╕гр╕▓ р╣Ср╣Хр╣С р╕зр╕гр╕гр╕Др╕кр╕нр╕З
        р╕Ьр╕╣р╣Йр╣Гр╕Фр╣Др╕бр╣Ир╕Ыр╕Пр╕┤р╕Ър╕▒р╕Хр╕┤р╕Хр╕▓р╕бр╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Вр╕нр╕Зр╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щр╕Хр╕гр╕зр╕Ир╣Бр╕гр╕Зр╕Зр╕▓р╕Щр╕Чр╕╡р╣Ир╕кр╕▒р╣Ир╕Зр╕Хр╕▓р╕бр╕бр╕▓р╕Хр╕гр╕▓ р╣Ср╣Тр╣Ф
        р╕Хр╣Йр╕нр╕Зр╕гр╕░р╕зр╕▓р╕Зр╣Вр╕Чр╕й<span class="underline">р╕Ир╕│р╕Др╕╕р╕Бр╣Др╕бр╣Ир╣Ар╕Бр╕┤р╕Щр╕лр╕Щр╕╢р╣Ир╕Зр╕Ыр╕╡</span>
        р╕лр╕гр╕╖р╕н<span class="underline">р╕Ыр╕гр╕▒р╕Ър╣Др╕бр╣Ир╣Ар╕Бр╕┤р╕Щр╕кр╕нр╕Зр╕лр╕бр╕╖р╣Ир╕Щр╕Ър╕▓р╕Ч</span> р╕лр╕гр╕╖р╕н<span
          class="underline">р╕Чр╕▒р╣Йр╕Зр╕Ир╕│р╕Чр╕▒р╣Йр╕Зр╕Ыр╕гр╕▒р╕Ъ</span
        >
      </p>
    </blockquote>

    <p class="text-3xl font-bold">
      <span>р╕Юр╕др╕йр╕ар╕▓р╕Др╕б:&nbsp;</span>
      <span>
        р╕ир╕▓р╕ер╣Бр╕гр╕Зр╕Зр╕▓р╕Щр╕Бр╕ер╕▓р╕Зр╕Юр╕┤р╕Юр╕▓р╕Бр╕йр╕▓р╣Гр╕лр╣Йр╣Вр╕Ир╕Чр╕Бр╣М<span class="text-green-500">р╕Кр╕Щр╕░р╕Др╕Фр╕╡</span> (р╕Юр╕┤р╕Юр╕▓р╕Бр╕йр╕▓р╕Хр╕▓р╕бр╕Др╕│р╕кр╕▒р╣Ир╕Зр╕Юр╕Щр╕▒р╕Бр╕Зр╕▓р╕Щр╕Хр╕гр╕зр╕Ир╣Бр╕гр╕Зр╕Зр╕▓р╕Щ)
      </span>
    </p>

    <section class="text-md sm:text-3xl text-center">
      <img src="/leo-need.svg" class="h-12 inline" alt="Leo/need" />
      {" "}
      <span>money р╕бр╕▓р╕Б р╣Ж р╕Ир╣Ир╕▓р╕вр╕Фр╣Йр╕зр╕в</span>
    </section>

    <h2 class="text-center">Hall of Fame</h2>

    <div class="scrolling-emojis">
      <div>ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ЁЯТЫЁЯЗиЁЯЗ╖ ЁЯН╖</div>
    </div>

    <section class="flex flex-col gap-2 items-center">
      <img src="./ceo_golden_frame.webp" class="max-w-xs" />
    </section>
  </main>
</Layout>

<style lang="postcss">
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scrolling-emojis {
    overflow: hidden;
    height: 1.5em;
    @apply w-full;
  }

  .scrolling-emojis div {
    animation: scroll 5s linear infinite;
  }
</style>
